@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/sf-pro-text_regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-orange: #f07e00;
  --theme-blue: #2c3785;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Text", sans-serif;
}

@layer base {
  html {
    font-family: "SF Pro Text", sans-serif;
    overscroll-behavior: none;
  }

  body {
    overscroll-behavior: none;
  }
}

.navlink.active {
  color: var(--theme-blue);
}

.anim {
  opacity: 0;
  transform: translateY(-40px);
  transition: transform 0.8s ease;
}

.anim.el {
  transform: translateY(0) translateX(-40px);
}

.anim.er {
  transform: translateY(0) translateX(40px);
}

.anim.eb {
  transform: translateY(40px);
}

.anim.es {
  transform: scale(0.6);
}

.element-show {
  opacity: 1 !important;
  transition: all 0.8s ease;
  transition-delay: 0.4s;
  transform: translateY(0) scale(1) !important;
  opacity: 1 !important;
}

/* .home-marquee {
  display: flex;
  gap: 30px;
  animation: slide 10s linear infinite alternate;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} */

.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
}
.marquee_inner {
  display: flex;
  animation: marquee 20s linear infinite alternate;
}

.marquee_item {
  font-size: 18px;
  height: 150px;
  object-fit: contain;
  color: #555;
  margin: 0 30px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
